<hr />
<div class="jumbotron">
    <div class="container text-right">
        <div class="partDescription"><i><i class="fa fa-quote-left"></i>{{part.description}}<i class="fa fa-quote-right"></i></i>
            <br/>
           
        </div>
        <br/>
    </div> <!-- end container -->
</div>

<div class="row">
    <div class="col-md-6">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h5>{{part.title}}</h5>
            </div>
            <div class="panel-body" ng-if="!loadingPart">
                <div class="media">
                    <a class="pull-right" ng-href="#/parts/{{part.ID}}" title="View {{part.title}} details">
                        <img class="media-object" height="120" ng-src="{{part.imagePath}}" alt="" />
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">{{part.title}}</h4>
                        Description: <label>{{part.description}}</label><br />
                        Price: <label>{{part.amount | currency}}</label><br/>
                        <br />
                        <label class="label label-info">{{part.status}}</label>
                        <available-part is-available="{{part.isAvailable}}"></available-part>
                    </div>
                </div>
            </div>
            <div class="panel-footer clearfix" ng-if="!loadingPart">
                <div class="pull-right">
                    <button ng-if="part.isAvailable" type="button" ng-click="openPartDialog();" class="btn btn-default btn-primary">Borrow Part<i class="fa fa-book pull-right"></i></button>
                    <a ng-href="{{part.imagePath}}" class="btn btn-primary fancybox-media">View Picture <i class="fa fa-video-camera pull-right"></i></a>
                    <a ng-href="#/parts/edit/{{part.ID}}" class="btn btn-default">Edit part <i class="fa fa-pencil-square pull-right"></i></a>
                </div>
            </div>
            <div ng-if="loadingPart">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Loading part data...</label>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="panel panel-danger shortPanel">
            <div class="panel-heading clearfix">
                <h5 class="pull-left">Stock</h5><a ng-href="#/parts/add" class="btn btn-default">Add part <i class="fa fa-plus pull-right"></i></a>
            </div>
            <div class="table-responsive" ng-if="!loadingHistory">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Status</th>
                            <th>User</th>
                            <th>In Stock</th>
                            <th>Return</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr ng-repeat="part in partHistory | filter:filterStock">
                            <td>{{part.ID}}</td>
                            <td>{{part.status}}</td>
                            <td>{{part.userID }}</td>
                            <td ng-class="getStatusColor(part.status)">{{part.status}}</td>
                            <td class="text-center">
                                <button ng-if="isAvailable(part)" type="button" class="btn btn-primary btn-xs" ng-click="ReturnPart(part.ID)">Return</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <div ng-if="loadingHistory">
                <div class="col-xs-4"></div>
                <div class="col-xs-4">
                    <i class="fa fa-refresh fa-4x fa-spin"></i> <label class="label label-primary">Loading part history...</label>
                </div>
                <div class="col-xs-4">
                </div>
            </div>
        </div>
    </div>
</div>
